*{
	box-sizing: border-box;
}
body{
	background-color: #5CDB95;
}
.navbar{
	background-color: #053865;
}
#brandname{
	font-style: bold;
    float: right;
    padding: 10px;
    color: #EDF5E1;
}
#logo{
    height: 70px;
    width: 70px;
}
#menu{
    color: #EDF5E1;
    font-size: 20px;
}
#greeting{
    color: #EDF5E1;
}
footer{
    background-color: #222;
    color: white;
}
#info{
    display: flex;
    justify-content: center;
    padding: 10px;
}
#random, #registerForm, #poll_list, #result{
    top: 50%;
    left: 50%;
    font-size: 20px;
    text-align: center;
}
#gyaan{
    font-size: 25px;
    color: #053865;
}
#registerForm{
    background-color: #053865;
    color: #EDF5E1;
    width: 400px;
}
.polldata{
    list-style-type: none;
}
.pollitem{
    background-color: #053865;
    width: 100%;
    padding: 10px;
    position: relative;
    height: 60px;
}
.pollname{
    display: inline;
    position: absolute;
    left: 15px; 
    color: #EDF5E1;
    font-size: 25px;   
}
.function{
    font-size: 25px;
    background-color: #EDF5E1;
    color: #053865;
    padding: 5px;
    border-radius: 25px;
    position: absolute;
    right: 20px;
}
#voteform, #createform{
    background-color: #053865;
    top: 50%;
    left: 50%;
    font-size: 20px;
    text-align: left;
    color: #EDF5E1;
    width: 80%;
}
#voting, #question, label, #create{
    margin-left: 10px;
}
#create{
    margin-right: 10px;
    margin-bottom: 25px;
}
#createform{
    margin-bottom: 25px;
    text-align: center;
}
#pollques, .options{
    width: 100%;
}
#createform{
    width: 40%;
}
#submitButtoncreate{
    margin-top: 5px;
}

