*{
	box-sizing: border-box;
}
body{
	background-color: #5CDB95;
}
.navbar{
	background-color: #053865;
}
#brandname{
	font-style: bold;
    float: right;
    padding: 10px;
    color: #EDF5E1;
}
#logo{
    height: 70px;
    width: 70px;
}
#menu{
    color: #EDF5E1;
    font-size: 20px;
}
#greeting{
    color: #EDF5E1;
}
footer{
    background-color: #222;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
}
#info{
    display: flex;
    justify-content: center;
    padding: 10px;
}
#random, #registerForm, #poll_list{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    text-align: center;
}
#gyaan{
    font-size: 25px;
    color: #053865;
}
#registerForm{
    background-color: #053865;
    color: #EDF5E1;
    width: 400px;
    margin-top: -15px;
}
.polldata{
    list-style-type: none;
}
.pollitem{
    background-color: #053865;
    width: 100%;
    padding: 5px;
}
.pollname{
    display: inline;    
}
