{% extends "base.html" %}
{% load widget_tweaks %}

{% block content %}
<div id="createform">
    <form id="create" method="POST">
        {% csrf_token %}
        <label for="question">Poll Question:</label><br>
        {% render_field form.poll_question id="pollques" rows="3" %}<br>
        <label for="option1">Option 1:</label><br>
        {% render_field form.poll_option1 class="options" %}<br>
        <label for="option2">Option 2:</label><br>
        {% render_field form.poll_option2 class="options" %}<br>
        <label for="option3">Option 3:</label><br>
        {% render_field form.poll_option3 class="options" %}<br>
        <label for="option4">Option 4:</label><br>
        {% render_field form.poll_option4 class="options" %}<br>
        <input id="submitButtoncreate" type="submit" value="Submit"><br>
    </form>
</div>
{% endblock %}