{% extends "base.html" %}

{% block content %}
<div id="poll_list" class="container-fluid">
    <h3>Active Polls</h3>
    <ul class="polldata">
        <li class="pollitem">
            <p class="pollname">Poll 1</p>
            <a class="function" href="">Vote</a>
        </li>
        <li class="pollitem">
            <p class="pollname">Poll 2</p>
            <a class="function" href="">Vote</a>
        </li>
    </ul>
    <br>
    <h3>Voted</h3>
    <ul class="polldata">
        <li class="pollitem">
            <p class="pollname">Poll 3</p>
            <a class="function" href="">Result</a>
        </li>
        <li class="pollitem">
            <p class="pollname">Poll 4</p>
            <a class="function" href="">Result</a>
        </li>
    </ul>
</div>
{% endblock %}