{% extends "base.html" %}

{% block content %}
<div id="poll_list" class="container-fluid">
    <h3>Active Polls</h3>
    <ul class="polldata">
        {% for poll in active %}
        <li class="pollitem">
            <p class="pollname">{{ poll.poll_question }}</p>
            <a class="function" href="{% url 'vote' poll.id %}">Vote</a>
        </li>
        {% endfor %}
    </ul>
    <br>
    <h3>Voted</h3>
    <ul class="polldata">
        {% for vote in votedpolls %}
        <li class="pollitem">
            <p class="pollname">{{ vote.poll.poll_question }}</p>
            <a class="function" href="{% url 'result' vote.poll.id %}">Result</a>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}