{% extends "base.html" %}

{% block content %}
<div id="random" class="container-fluids">
    <p id="gyaan"><b>This app is made with the purpose of revolutionising the system of online voting. This app gives you the best user 
        experience for conducting your polls ann actively participate various hot topics and get the knowledge of what 
    other people are thinking on various hot topic, kuch bhi likh diya khaali khaali lag raha tha</b></p>
    <div id="randomtext">
        <h3>Some of our reviews:</h3>
        <p><b>"Permission mil jaati to iss app ke neeche bhi facebook ka logo laga doon"</b> - Gossip Zukerberg</p>
        <p><b>"Mujhe iss app ke developer ke paer choone hai"</b> - Gill Bates</p>
        <p><b>"K"</b> - Prachi Singh</p>
        <p><b>"Anshu ne pareshaan karke rakh diya hai"</b> - Ansh Gupta</p>
    </div>
</div>
{% endblock %}