{% extends "base.html" %}

{% block content %}
<div id="registerForm">
    <h3>Register</h3>
    <form>
        <label for="fname">First name</label><br><input type="text" id="fname" name="fname"><br>
        <label for="lname">Last name</label><br><input type="text" id="lname" name="lname"><br>
        <label for="email">Email</label><br><input type="text" id="email" name="email"><br>
        <label for="password">Password</label><br><input type="password" id="pwd" name="pwd"><br><br>
        <input id="submitButton" type="submit" value="Submit"><br>
    </form>
    <p>Already registered user? <a href="/login">login</a></p>
</div>
{% endblock %}